pre code {
  color: #abb2bf;
}

/* 调节圆角 */
.markdown-body p>img,
.markdown-body p>a>img {
  border-radius: 3px;
}

/* 解决图片在刚展示时可能会在圆角出出现白色边框的问题 */
.markdown-body img {
  background-color: transparent;
  /* 原来是 #fff */
}

/* 将进度条的圆角给去掉 */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
}